body{
    background-color: #F9B1B2;
    /* padding: 5vw; */
    /* width: 80vw; */
}
header{
    background-color: #9DD0C6;
    color: #FCFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}
main {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}
footer{
    background-color: #9DD0C6;
    color: #FCFEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}
aside{
    background-color: #6BB6B5;
    color: #FCFEFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    height: 40vh;
}
article{
    background-color: #F47E7B;
    color: #FCFEFF;    
    flex-grow: 3;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
article h1{
    text-align: center;
}

main div article div {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  
}

img{
    max-width: 150px;
    max-height: 150px;
}
main div{
    display: flex;

    /* align-items: flex-end; */
}
main div article{
    align-items: flex-end;
}