@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root * {
    font-family: "Roboto", sans-serif;
    margin:auto;
}
body{
    max-width: 1256px;
}
 .top{
    text-align: left;
    width: 50%;

 }
.table{
    text-align: left;
    width: 100%;
}
form{
    width: 50%;
}
label{
    color: rgb(172, 171, 171);
}
.bold{
    font-weight: bold;
}
.nr2{
    border: 1px solid black;
    text-align: left;
    width: 100%;
}
.du{
    text-align: center;
}
